.header {
    position: relative;
    display: flex;
    font-size: 1.25em;
    background: #fdfdfd;
    height: 64px;
    z-index: 1;
    transition: background .125s;
}

.logo-block {
    width: 230px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    transition: all .125s;
    //background: #f1f1f1;
}

.logo-wrapper {
    display: flex;
    font-family: "Mont";
    font-size: 30px;
    user-select: none;
}

.logo-name {
    padding-top: 2px;
    font-weight: 600;
    color: #1d9283;
}

.logo-suffix {
    padding-top: 2px;
    font-weight: 800;
    color: #343e42;
    transition: all .125s;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.menu {
    display: flex;
    padding: 10px 0;
}

.menu-elements {
    padding: 10px;
    margin: 0 10px;
    transition: all .125s;

    &:hover {
        color: #1d9283;
    }
}

.button {
    margin: 0 20px;
    padding: 6px 18px;
    color: #343e42;
    font-weight: 600;
    border: 2px solid #343e42;
    transition: all .125s;

    &:hover {
        background: #242f33;
        color: whitesmoke;
    }
}

.account {
    &.header {
        margin-left: 230px;
    }

    .logo-block {
        position: fixed;
        left: 0;
        height: 64px;
        background: #343e42;
    }

    .logo-suffix {
        color: white;
    }
}

.main-page {
    &.header {
        position: fixed;
        width: 100%;
        background: none;
        z-index: 50;
    }

    .menu-elements {
        &:hover {
            background: rgba(249, 249, 249, 0.5);
        }
    }
}

.transport-system {
    &.header {
        position: fixed;
        background: rgba(21, 32, 37, 0.95);
        width: 100%;
        z-index: 50;
        color: white;
    }

    .button {
        color: whitesmoke;
        border-color: whitesmoke;

        &:hover {
            background: whitesmoke;
            color: #242f33;
        }
    }

    .logo-suffix {
        color: white;
    }
}