.button {
  cursor: pointer;
  user-select: none;
  padding: 8px 20px;
  background: var(--soft-grey-300);
  border: none;
  font-size: 1.25em;
  transition: all .125s;

  &:hover {
    background: var(--dark-grey-600);
    color: var(--soft-grey-100);
  }

  &:focus {
    box-shadow: 0px 0 10px var(--accent-green-600);
  }

  &.warning {
    background: var(--light-red-100);

    &:hover {
      background: var(--light-red-300);
    }
  }

  &.disabled {
    cursor: default;
    opacity: .35;

    &:hover {
      background: var(--soft-grey-300);
      color: inherit;
    }
  }
}