.link {
  display: inline-flex;
  margin-right: 55px;
  margin-bottom: 55px;

  &:last-child {
    margin-bottom: unset;
  }
}

.grid-element {
  display: inline-block;
  width: 250px;
  overflow: hidden;
  background: var(--soft-grey-200);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 12px var(--shadow-black-300);
  transition: all .125s;

  &:hover {
    box-shadow: 0 0 12px var(--accent-green-600-75);
  }
}

.baggage-image {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-grey-600);
  border-radius: 5px;
  box-shadow: 0 0 12px var(--shadow-black-600);
}

.baggage-image-cover {
  font-size: 150px;
  color: var(--soft-grey-100-50);
}

.baggage-data-group {
  padding-top: 5px;
  color: var(--dark-grey-600);
  font-weight: 600;
}

.baggage-data-line {
  margin: 0 15px;
  padding: 10px 0;
  border-bottom: 1px solid var(--soft-grey-30);

  &:last-child {
    border-bottom: none;
  }
}

.baggage-ts {
  font-weight: 900;
  font-size: 1.25em;
}

.baggage-time {
  font-weight: 100;
  color: var(--accent-green-600);
  font-size: .9em;
  text-align: right;
}

.baggage-skeleton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 250px;
  height: 374px;
  border: 5px dashed;
  color: var(--soft-grey-600);
  font-size: 2em;
  border-radius: 25px;
}

.skeleton-accent {
  font-weight: 600;
  font-size: 1.3em;
  color: var(--soft-grey-700);
}

.skeleton-ending {
  position: absolute;
  width: 100%;
  padding: 0 15px;
  left: 0;
  text-align: right;
  font-size: .75em;
}