.title {
    padding: 35px 0;
    font-size: 2.5em;
    font-weight: 900;
}

.capital {
    &::first-letter {
        color: #1d9283;
    }
}

.back-link {
    display: inline-block;
    color: #8c9092;
    transition: all .125s;

    &:hover {
        color: #242f33;

        .back-link-icon {
            color: #1d9283;
        }
    }
}

.back-link-icon {
    font-size: 0.8em;
    margin: 0 10px 0 0px;
    transition: all .125s;
}