.side-menu {
  position: fixed;
  left: 0;
  height: calc(100% - 64px);
  width: 230px;
  background: var(--dark-grey-700);
  color: var(--white-100-50);
  font-size: 1.25em;
  padding: 20px 0;
}

.element {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  margin: 10px 0;
  height: 34px;
  transition: all .125s;

  &:after {
    content: "";
    pointer-events: none;
    position: absolute;
    right: -12px;
    width: 24px;
    height: 24px;
    background: var(--dark-grey-600);
    transform: rotate(45deg);
    opacity: 0;
    transition: all .125s;
  }

  &.active {
    color: var(--white-100);
    background: var(--dark-grey-600);

    &:after {
      opacity: 1;
      pointer-events: painted;
    }
  }

  &:hover {
    background: var(--dark-grey-600);
  }
}

.icon {
  margin-right: 10px;
  width: 1.25em !important;
}