.menu {
    display: flex;
    height: 100%;
    width: 230px;
    background: #e0e0e0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #343e42;
}

.avatar {
    font-size: 35px;
}

.enter-icon {
    font-size: 25px;
}