.ticket {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 25px var(--shadow-black-300);
  border-radius: 4px;
  overflow: hidden;
}

.ticket-sing {
  position: absolute;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 35px;
  padding: 7px 12px;
  background: linear-gradient(45deg, var(--accent-green-700), var(--accent-green-600));
  color: var(--soft-grey-100);
  font-size: 1.05em;
  transform: rotate(-90deg);
  transform-origin: top left;
}

.ticket-sing-group {
  display: flex;
  height: 100%;
  align-items: center;
}

.sing-logo {
  height: 100%;
  margin-right: 10px;
}

.sing-logo-img {
  height: 100%;
}

.sing-context {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white-100-75);
}

.ticket-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 35px;
  width: 600px;
  height: 300px;
  background: var(--soft-grey-200);
  padding: 30px 75px 30px 30px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  color: var(--dark-grey-600);
  text-transform: uppercase;
}

.header-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:first-child {
    justify-content: center;
  }

  &:last-child {
    text-align: right;
  }
}

.header-ts {
  font-size: 3em;
  font-weight: 600;

}

.header-uid {
  font-size: 2em;
  font-weight: 600;
  background: linear-gradient(45deg, var(--accent-green-900), var(--accent-green-800));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-body {
  font-size: .9em;
}

.description-line {
  display: flex;
  padding: 10px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.description-block {
  width: 33%;
  flex-shrink: 0;
  padding-right: 10px;
}

.description-block-name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--soft-grey-900);
}

.description-block-context {
  font-size: 1.05em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticket-qr {
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  outline: 10px solid var(--dark-grey-600);
  border: 10px solid transparent;
}