@font-face {
  font-family: "Proxima Nova F";
  src: url("/public/fonts/Proxima Nova Reg.otf");
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/public/fonts/Proxima Nova Alt Reg.otf");
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/public/fonts/Proxima Nova Alt Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/public/fonts/ProximaNovaA-Extrabld.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/public/fonts/Mont-Regular.otf");
  unicode-range: U+0040;
}


@font-face {
  font-family: "Mont";
  src: url("/public/fonts/Mont-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Mont";
  src: url("/public/fonts/Mont-Heavy.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Acme Gothic";
  src: url("/public/fonts/AcmeGothic-BoldCondensed.otf");
  //font-weight: 900;
}


* {
  box-sizing: border-box;

  &::selection {
    background: #1d9283;
    color: #343e42;
    color: whitesmoke;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  display: inherit;
}

button, input, select {
  font: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

fieldset {
  padding: inherit;
  margin: inherit;
  border: inherit;
}

body {
  background: #f9f9f9;
  margin: 0;
  font-family: "Proxima Nova", "Proxima Nova F", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #e0e0e0;
}

*::-webkit-scrollbar-thumb {
  background: #8c9092;
  border: 1px solid #8c9092;
}