.searchbar {
  display: flex;
}

.searchbar-input {
  background: var(--soft-grey-300);
  border: none;
  font-size: 1.25em;
  width: 230px;
  padding: 8px 10px 5px;
  transition: all .125s;

  &:focus {
    box-shadow: 0px 0 10px var(--accent-green-600);
  }
}

.searchbar-icon {
  background: var(--soft-grey-900);
  width: 39px;
  font-size: 1.5em;
  color: var(--soft-grey-100);
  display: flex;
  justify-content: center;
  align-items: center;
}